<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Jeroenscode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D319F0C422C2869E00B289CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D319F0CC22C2869E00B289CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D319F0E722C286B800B289CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D319F0EF22C286B800B289CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D319F10922C286BF00B289CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D319F11122C286BF00B289CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38750E122C1566B0088DC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38750F722C1566D0088DC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D387510222C1566D0088DC0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
